 <html> 
  <link href="../static/styles/stylesheet.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
  <header>
    <div class="container">
      <div class="header-left">
        <img
          class="logohead"
          src="{{ url_for('static', filename='img/quippo.jpg') }}"
        />
        <a>MyApp</a>
      </div>
    </div>
  </header>
  <div>
    <div class="logoleft">
      <img
        src="{{ url_for('static', filename='img/quippo.jpg') }}"
        width="200"
      />
    </div>
    
    <div class="box">
      <form method="post">
        <h1>Login Page</h1>
        <p>
          <label for="name">Username: </label>
          <input type="text" name="email" class="email" size="15" required>
        </p>
        <p>
          <label for="name">Password: </label>
          <input type="password" name="password" class="password" size="15" required>
        </p>
        <button class="button" type="submit">Sign In</button>
        <!-- End Btn -->
      </form>
    </div>
      <!-- End Box -->
    <div class="logoright">
      <img
        src="{{ url_for('static', filename='img/quippo.jpg') }}"
        width="200"
      />
    </div>
  </div>
</html>